* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003399;
    padding: 10px 20px;
}

header .logo img {
    width: 80px;
    height: 80px;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav a:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.jogadores {
    display: flex;
    flex-direction: column; /* Colocar os jogadores um embaixo do outro */
    align-items: flex-start;  /* Alinhar os jogadores à esquerda */
    gap: 20px; /* Espaço entre os jogadores */
}

.jogador {
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    transition: transform 0.3s ease;
}

.jogador:hover {
    transform: scale(1.05);
}

.jogador-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
    display: block;
}

.jogador-btn img {
    width: 100%;
    border-radius: 10px;
}

.info h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.info p {
    font-size: 14px;
    color: #666;
}

/* Animação para o botão da logo */
.logo img {
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: translateY(-10%) scale(1.2);
}

/* Animação para as imagens dos jogadores */
.jogador-btn img {
    transition: transform 0.3s ease;
}


